<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <!--<section name="theUC" type="UC.UCSection, __code"/>-->
    <section name="theUC" type="UC.UCSection, UC.Core"/>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
  </configSections>
  <!--defaultPage="default.aspx"-->
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="RewriteMobilnyjKondicioner" virtualUrl="^http\://(.*)/mobilnyj-kondicioner.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Departments.aspx?DepID=9&amp;p=1" rewrite="Domain" ignoreCase="true"/>
      <add name="RewriteKupitKondicioner" virtualUrl="^http\://(.*)/kupit-kondicioner.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Departments.aspx?DepID=1" rewrite="Domain" ignoreCase="true"/>
      <add name="RewriteOkonnyjKondicioner" virtualUrl="^http\://(.*)/okonnyj-kondicioner.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Departments.aspx?DepID=15&amp;p=1" rewrite="Domain" ignoreCase="true"/>
    </rewrites>
  </urlrewritingnet>
  <theUC defaultConnectionStringName="LocalSqlServer">
    <contactForm mailTo="mirtos@inbox.ru, ogubin@stroihoz.ru" mailSubject="MIRTOS.RU: {0}"/>
    <articles pageSize="10" lastArticleSize="10"/>
    <polls archiveIsPublic="true" votingLockByIP="false"/>
    <newsletters lastNewsSize="5" fromEmail="info@mirtos.ru" fromDisplayName="MIRTOS.RU - инженерные системы" archiveIsPublic="true"/>
    <forums threadsPageSize="8" hotThreadPosts="10" bronzePosterPosts="10" silverPosterPosts="20" goldPosterPosts="50"/>
    <store departmentRoot="0" sandboxMode="true" businessEmail="mirtos@inbox.ru, ogubin@stroihoz.ru" topSalesProduct="5" productSalesRotate="true" topManufacturers="70" priceAccuracy="N0"/>
    <productFeatured topProduct="3" rotate="true"/>
    <search pageSize="50"/>
    <statistics cacheDuration="720000">
      <pages>
        <add page="WebResource.axd"/>
        <add page="ScriptResource.axd"/>
        <add page="psimage.aspx"/>
        <add page="pfimage.aspx"/>
        <add page="smallimage.aspx"/>
        <add page="fullimage.aspx"/>
      </pages>
    </statistics>
    <siteMap>
      <staticPages>
        <!--<add page="ProductSales.aspx"/>-->
        <add page="About.aspx" name="О компании"/>
        <add page="Contact.aspx" name="Контакты"/>
        <add page="Service.aspx" name="Сервис"/>
        <!--<add page="Objects.aspx" name="Объекты"/>-->
        <add page="Design.aspx" name="Проектирование"/>
        <add page="Assembly.aspx" name="Монтаж"/>
        <add page="Guarantees.aspx" name="Гарантия"/>
        <add page="Payments.aspx" name="Оплата"/>
        <add page="Shipping.aspx" name="Доставка"/>
        <add page="Partners.aspx" name="Партнеры"/>
        <add page="Dealer.aspx" name="Дилерам"/>
        <add page="Vacancy.aspx" name="Вакансии"/>
        <!--<add page="SiteMap.aspx"/>-->
        <add page="Newsletters.aspx" name="Новости"/>
        <add page="ArticlesCategories.aspx" name="Статьи"/>
      </staticPages>
    </siteMap>
    <parsing cacheDuration="3600"/>
    <framework innactiveDays="-3"/>
    <images watermarkText="MIRTOS.RU" watermarkFontSize="8" watermarkImagePath="Images\\watermark.png" smallImageWidth="100" smallImageHeight="100" fullImageWidth="277" fullImageHeight="277" productSalesImageWidth="70" productSalesImageHeight="70" productFeaturedImageWidth="100" productFeaturedImageHeight="100" discountImagePath="~/App_Themes/CClimate/Images/Discount.png" discountFontName="Impact" discountFontSize="10" manufacturerImageWidth="37" manufacturerImageHeight="37" defaultProductImagePath="Images\\product.gif"/>
  </theUC>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <!--<add name="LocalSqlServer" connectionString="server=sql2005.nthost.ru;uid=mirtos-_mirtos;pwd=mirtos18326;DataBase=mirtos-_mirtos" providerName="System.Data.SqlClient"/>-->
    <!--<add name="LocalSqlServer" connectionString="server=u239260.mssql.masterhost.ru;uid=u239260;pwd=s4racklogg;DataBase=u239260_mirtos" providerName="System.Data.SqlClient"/>-->
    <add name="LocalSqlServer" connectionString="server=TKSE-SBC0197\SQLEXPRESS;Integrated Security=True;DataBase=mirtos-_mirtos" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <globalization requestEncoding="windows-1251" responseEncoding="windows-1251" culture="ru-RU" uiCulture="ru-RU"/>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="~/Login.aspx" name="MIRTOS"/>
    </authentication>
    <pages theme="CClimate" masterPageFile="~/Template.master" maintainScrollPositionOnPostBack="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.6.2">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <membership defaultProvider="TBH_MembershipProvider" userIsOnlineTimeWindow="60">
      <providers>
        <add name="TBH_MembershipProvider" connectionStringName="LocalSqlServer" applicationName="/" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <siteMap defaultProvider="TBH_SiteMapProvider" enabled="true">
      <providers>
        <add name="TBH_SiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="web.sitemap"/>
      </providers>
    </siteMap>
    <sessionState cookieless="UseCookies"/>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="MIRTOSROLES" defaultProvider="TBH_RoleProvider">
      <providers>
        <add connectionStringName="LocalSqlServer" applicationName="/" name="TBH_RoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <anonymousIdentification cookieless="UseCookies" enabled="true"/>
    <profile defaultProvider="TBH_ProfileProvider">
      <providers>
        <add name="TBH_ProfileProvider" connectionStringName="LocalSqlServer" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <add name="FirstName" type="String"/>
        <add name="LastName" type="String"/>
        <add name="MiddleName" type="String"/>
        <add name="ProductViewSorting" type="String" allowAnonymous="true"/>
        <add name="ProductViewMaxRows" type="Int32" allowAnonymous="true"/>
        <add name="ShoppingCart" type="UC.BLL.Store.ShoppingCart" serializeAs="Binary" allowAnonymous="true"/>
        <group name="Forum">
          <add name="Posts" type="Int32"/>
          <add name="AvatarUrl" type="String"/>
          <add name="Signature" type="String"/>
        </group>
        <group name="Address">
          <add name="FIO" type="String"/>
          <add name="Tel" type="String"/>
          <add name="PostCode" type="String"/>
          <add name="Oblast" type="String"/>
          <add name="Raion" type="String"/>
          <add name="Gorod" type="String"/>
          <add name="Street" type="String"/>
          <add name="House" type="String"/>
          <add name="Ofis" type="String"/>
          <add name="Comment" type="String"/>
        </group>
        <group name="Payment">
          <add name="PaymentMethod" type="UC.BLL.Store.PaymentMethod"/>
        </group>
        <group name="Payer">
          <add name="Organization" type="String"/>
          <add name="UrAddress" type="String"/>
          <add name="PostAddress" type="String"/>
          <add name="INN" type="String"/>
          <add name="KPP" type="String"/>
          <add name="OKPO" type="String"/>
          <add name="OKONH" type="String"/>
          <add name="Account" type="String"/>
          <add name="CorrAccount" type="String"/>
          <add name="Bank" type="String"/>
          <add name="BIK" type="String"/>
        </group>
        <group name="Preferences">
          <add name="Newsletter" type="Boolean"/>
        </group>
      </properties>
    </profile>
    <webParts enableExport="false">
      <personalization defaultProvider="TBH_PersonalizationProvider">
        <providers>
          <add name="TBH_PersonalizationProvider" connectionStringName="LocalSqlServer" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </providers>
        <authorization>
          <allow roles="Administrators" verbs="enterSharedScope"/>
          <allow roles="Administrators" verbs="modifyState"/>
          <deny users="*" verbs="modifyState"/>
        </authorization>
      </personalization>
    </webParts>
    <machineKey validationKey="287C5D125D6B7E7223E1F719E3D58D17BB967703017E1BBE28618FAC6C4501E910C7E59800B5D4C2EDD5B0ED98874A3E952D60BAF260D9D374A74C76CB741803" decryptionKey="5C1D8BD9DF3E1B4E1D01132F234266616E0D5EF772FE80AB" validation="SHA1"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/NotFound.aspx"/>
      <error statusCode="408" redirect="~/Error.aspx?code=408"/>
      <error statusCode="500" redirect="~/Error.aspx?code=500"/>
      <error statusCode="505" redirect="~/Error.aspx?code=505"/>
    </customErrors>
    <healthMonitoring heartbeatInterval="10800">
      <providers>
        <remove name="SqlWebEventProvider"/>
        <add name="SqlWebEventProvider" connectionStringName="LocalSqlServer" buffer="false" bufferMode="Notification" maxEventDetailsLength="1073741823" type="System.Web.Management.SqlWebEventProvider,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <eventMappings>
        <add name="TBH Events" type="UC.WebCustomEvent, UC.CustomEvents"/>
      </eventMappings>
      <rules>
        <clear/>
        <add name="TBH Events" eventName="TBH Events" provider="SqlWebEventProvider" profile="Critical"/>
        <add name="All Errors" eventName="All Errors" provider="SqlWebEventProvider" profile="Critical"/>
        <add name="Failure Audits" eventName="Failure Audits" provider="SqlWebEventProvider" profile="Critical"/>
        <add name="Heartbeats" eventName="Heartbeats" provider="SqlWebEventProvider" profile="Critical"/>
      </rules>
    </healthMonitoring>
    <httpModules>
      <!--<add name="StatisticsModule" type="UC.HttpModules.StatisticsModule, UC.Statistics"/>-->
      <add name="IpBlocking" type="UC.HttpModules.IpBlockingModule, UC.IpBlocking"/>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="psimage.aspx" type="UC.SalesPictureHandler"/>
      <add verb="*" path="pfimage.aspx" type="UC.FeaturedPictureHandler"/>
      <add verb="*" path="manimage.aspx" type="UC.ManufacturersHandler"/>
      <add verb="*" path="smallimage.aspx" type="UC.SmallImagePictureHandler"/>
      <add verb="*" path="fullimage.aspx" type="UC.FullImagePictureHandler"/>
    </httpHandlers>
  </system.web>
  <location path="EditProfile.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OrderHistory.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddEditPost.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Editors,Moderators,Posters"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp from="info@mirtos.ru">
        <network host="mail.mirtos.ru" password="mirtos321" userName="info@mirtos.ru"/>
      </smtp>
      <!--<smtp from="mirtos@inbox.ru">
        <network host="smtp.inbox.ru" password="climate" userName="mirtos@inbox.ru"/>
      </smtp>-->
      <!--<smtp from="info@diktophone.ru">
        <network host="smtp.mastermail.ru" password="dikt357" userName="info@diktophone.ru"/>
      </smtp>-->
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="StatisticsModule" type="UC.HttpModules.StatisticsModule, UC.Statistics"/>-->
      <add name="IpBlocking" type="UC.HttpModules.IpBlockingModule, UC.IpBlocking"/>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </modules>
    <handlers>
      <add name="Psimage" verb="*" path="psimage.aspx" type="UC.SalesPictureHandler"/>
      <add name="Pfimage" verb="*" path="pfimage.aspx" type="UC.FeaturedPictureHandler"/>
      <add name="Manimage" verb="*" path="manimage.aspx" type="UC.ManufacturersHandler"/>
      <add name="Smallimage" verb="*" path="smallimage.aspx" type="UC.SmallImagePictureHandler"/>
      <add name="Fullimage" verb="*" path="fullimage.aspx" type="UC.FullImagePictureHandler"/>
    </handlers>
  </system.webServer>
</configuration>