.alt_row
{
    background-color:#c5b6a8;
}

.shoppingcartbox
{
    font-size: 11px;
    position: relative;
    font-family: Tahoma;
    color: #393738;
}

.shoppingcartboxcontent
{
    padding: 5px;
    border: 0pt none;
}

#shoppingcartboxtotal
{
    height:50px;
    padding-left: 0px;
}

#shoppingcartboxtotal div
{
    float: left;
    padding: 7px 7px 0px 7px;
}

#shoppingcartboxtotal span
{
    color: #d7c5ab;
    font-weight: bold;
}

.ToShoppingCart
{
    text-align: center;
    padding-top: 7px;
}

.price
{
    color: #d7c5ab;
}

.wizard table
{
    font-size:11px;
    font-family:Verdana;        
}

.wizard table th
{
    background-color:#8e0000;
    color:White;
    font-weight:bold;
    height:30px;
    border: solid 1px white;
}

.wizard table th a
{
    color:White;
    text-decoration:none;
}

.wizard table th a:hover
{
    color:White;
    text-decoration:underline;
}

.wizard table td
{
    vertical-align:middle;
    border: solid 1px white;
    background-color:#c5b6a8;
}

.wizard table td a
{
    text-decoration:none;
    color:#333333;
}

.wizard table td a:hover
{
    text-decoration:underline;
    color:#BF7828;
}

.wizard table td input
{
    text-align:center;
    font-size:11px;
}

.linkmenu
{
    color:Black;
    font-family:Tahoma,Arial,Verdana;
    font-size:10pt;
    font-weight:bold;
}

.linkmenu a, .linkmenu span
{
    color:Black;
    background: transparent url(images/separator.gif) no-repeat scroll right center;
    padding-right: 15px;
}

.linkmenu a
{
    font-weight:normal;
    text-decoration: underline;
}

.linkmenu a:hover
{
    text-decoration: none;
}